---
http_interactions:
- request:
    method: get
    uri: https://tastedive.com/api/similar?k=322826-RecoSuav-PA13QF0T&limit=10&q=Beatles&verbose=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Similar": {"Info": [{"Name": "The Beatles", "Type": "music", "wTeaser":
        "The Beatles were an English rock band formed in Liverpool in 1960. With members
        John Lennon, Paul McCartney, George Harrison and Ringo Starr, they became
        widely regarded as the foremost and most influential music band. Rooted in
        skiffle, beat and 1950s rock and roll, the Beatles later experimented with
        several musical styles, ranging from pop ballads and Indian music to psychedelia
        and hard rock, often incorporating classical elements and unconventional recording
        techniques in innovative ways. In 1963 their enormous popularity first emerged
        as \"Beatlemania\"; as the group''s music grew in sophistication, led by primary
        songwriters Lennon and McCartney, the band were integral to pop music''s evolution
        into an art form and to the development of the counterculture of the 1960s.",
        "wUrl": "http://en.wikipedia.org/wiki/The_Beatles", "yUrl": "https://www.youtube-nocookie.com/embed/NCtzkaL2t_Y",
        "yID": "NCtzkaL2t_Y"}], "Results": [{"Name": "George Harrison", "Type": "music",
        "wTeaser": "\n\n\nGeorge Harrison  (25 February 1943\u00a0\u2013 29 November
        2001) was an English musician, singer-songwriter, music and film producer
        who achieved international fame as the lead guitarist of the Beatles. Often
        referred to as \"the quiet Beatle\", Harrison embraced Indian culture and
        helped broaden the scope of popular music through his incorporation of Indian
        instrumentation and Hindu-[...]
