$logo-font: 'Audiowide', sans-serif;
$primary-font: 'Overpass', sans-serif;
$secondary-font: 'Changa', sans-serif;
$tertiary-font: 'Tajawal', sans-serif;

$dark-color: #7FCFFF;
$light-color: #DAECFF;
$heading-color: #436C87;
